{% extends 'base.html.twig' %}

{% block body %}
    <div class="w-1/2 mx-auto my-6">
        <h1 class="text-gray-500 text-4xl text-center mb-6">Contact</h1>
        <form>
            <div class="form-row">
                <label class="form-label">First Name</label>
                <input type="text" name="first_name" class="form-field" />
            </div>
            <div class="form-row">
                <label class="form-label">Last Name</label>
                <input type="text" name="last_name" class="form-field" />
            </div>
            <div class="form-row">
                <label class="form-label">Email</label>
                <input type="email" name="email" class="form-field" />
            </div>
            <div class="form-row">
                <label class="form-label">Message</label>
                <textarea name="message" class="form-field" rows="5"></textarea>
            </div>
            <div class="form-row justify-center mb-4">
                <label class="form-label w-auto">
                    <input type="checkbox" name="optin" class="form-checkbox mx-4"/>
                    <span>Subscribe to our newsletter</span>
                </label>
            </div>
            <div class="form-row flex justify-center">
                <button class="btn">Send message</button>
            </div>
        </form>
    </div>
{% endblock %}