{% extends 'base.html.twig' %}

{% block body %}
    <div class="bg-gray-100 h-screen flex flex-col items-center justify-center">
        <h1 class="text-gray-500 text-4xl mb-4">Hello world</h1>
        <button class="px-4 py-2 bg-blue-500 hover:bg-blue-600 text-white rounded">Click here</button>
    </div>
{% endblock %}